/*
 * Empty Stylesheet file.
 */

.button {
    -fx-font-size: 16px;
    -fx-background-color: #404B7C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #9AB3DA;
    -fx-text-fill: #404B7C;
}
/*
 Style untuk TableView 
.table-view {
    -fx-background-color: #404b7c;
    -fx-table-cell-border-color: #ffffff;  Warna border sel 
    -fx-border-color: #404b7c;            Warna border luar 
}

.table-view .column-header-background {
    -fx-background-color: #404b7c;  Background header kolom 
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;         Warna teks header kolom 
    -fx-font-weight: bold;          Teks header menjadi tebal 
}

.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:filled:selected, .table-cell:selected {
    -fx-background-color: #636faa;  Warna saat sel dipilih 
    -fx-text-fill: #ffffff;         Warna teks saat dipilih 
}

.table-cell {
    -fx-text-fill: #ffffff;         Warna teks di setiap sel 
    -fx-font-size: 14px;            Ukuran font teks 
}

.table-cell:focused {
    -fx-border-color: #ffffff;      Warna border saat fokus 
}*/
